<div id="user-preferences">
  <h4>selected filters: </h4>
  <% @user.preferences.each do |preference| %>
   <p>
     <span>
      <strong><%= preference.media.title %></strong>
      <span id = "on-off">
        status: <span id = "filter-on-off-<%= preference.id %>"><%= link_to preference.on_or_off, user_preference_path(current_user, preference.id) %></span>
      </span>
      <span id = "delete-filter">
        <span id = "filter-delete-<%= preference.id %>"> <%= link_to 'delete', user_preference_path(current_user, preference.id) %></span>
      </span>
    </span>
   </p>
  <% end %>
</div>


