<div id="user-create-form">
  <%= form_for @user do |t| %>
  <% if @user.errors.any? %>
   <div id="error_explanation">
     <h2>
       <%= pluralize(@user.errors.count, "error") %> prohibited
       this article from being saved:
     </h2>
     <ul>
       <% @user.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
       <% end %>
     </ul>
   </div>
   <% end %>
   <span>
    <li class="no-list-style"><%= t.label :username %>
    <%= t.text_field :username %></li>

    <li class="no-list-style"><%= t.label :password %>
    <%= t.password_field :password %></li>

    <li class="no-list-style"><%= t.label :password_confirmation %>
    <%= t.password_field :password_confirmation %></li>

    <li class="no-list-style"><%= t.label :email %>
    <%= t.text_field :email %></li>

    <li class="no-list-style"><%= t.submit "create account" %></li>
   </span>

  <% end %>
</div>

