<h1>Titles:</h1>

<div class="list-group">
 <% if @medias.any? %>
  <% @medias.each do |media| %>
    <button type="button" class="list-group-item"><%= media.title %>
    <%= form_for :preference, :html => {:class => "filter"}, url: user_preferences_path(current_user.id) do |t| %>
      <%= t.hidden_field :media_id, value: media.id %>
      <%= t.hidden_field :name, value: media.title %>
      <%= t.submit 'Add to filter', class: "submit-btn"  %>
      <% end %>
    <%end%>
    </button>
 <% else %>
      <p>There is no media here</p>
 <% end %>
 </div>



