<!DOCTYPE html>
<html>
<head>
  <title>Unspoiled</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">
    <div id= "image-tag" class="col-centered"><a id = "unspoiled-logo" href = "/"><%= image_tag("new_logo.png") %></a></div>
    <div class="col-centered tagline"><h4><%= link_to "Keep the stories you love unspoiled.", root_path %></h4></div>

          <div class="col-centered text-right">
    <% if logged_in? %>

    <hr>

    <div class="btn-group-md">

      <button type="button" class="btn btn-primary">
        Unspoiled is:
        <input class="btn-group" role="group"
        data-text="user-master-filter"
        id="TheCheckBox"
        type="checkbox"
        data-off-text="Off"
        data-size="mini"
        data-on-text="On"
        class="BSswitch" data-user= <%= current_user.id  %>
        checked>
      </button>

      <button type="button" class="btn btn-primary">
        <div id = "my-filter">
          <%= render partial: '/users/myfilter' %>
        </div>
      </button>

      <button type="button" class="btn btn-primary">
        <%= link_to "Logout", logout_path(current_user), method: "delete"  %>
      </button>

    </div>

    <% else %>

    <div class="btn-group-md">

      <button type="button" class="btn btn-primary">
        <%= link_to "Login", new_session_path  %>
      </button>

      <button type="button" class="btn btn-primary">
        <%= link_to "Create Account", new_user_path %>
      </button>

    </div>
    <% end %>

    <hr>



<%= yield %>
 <div class="push"></div>
</div>
</div>
<div class="footer">

  <div class="col-centered">Unspoiled is a DBC project by <a href="https://github.com/elizaway" target="_blank">Eliza Dunaway</a>, <a href="https://github.com/jhack32" target="_blank">Jack Huang</a>, <a href="https://github.com/bigless27" target="_blank">Ryan Lesson</a>, <a href="https://github.com/arcpetretta" target="_blank">Arcangelo Petretta</a>
  <div> Powered by <a href="https://www.themoviedb.org/" target="_blank">The Movie Database</a></div></div>
</div>








</body>
</html>

