<!DOCTYPE html>
<html>
<head>
  <title>Unspoiled</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>



<div id = "home">

  <% if logged_in? %>
   <div class= "row">
      <div class="col-sm-4"><h3><%= link_to "Unspoiled", root_path %></h3></div>
    </div>
     Welcome <%= link_to current_user.username, user_path(current_user)  %>
    <div class="row">
        <div id = "filter-status" class="col-sm-3">filter status: <%= link_to current_user.on_or_off, user_path(current_user), method: "put" %></div>
        <div class="col-sm-3"><%= link_to "my filters", user_path(current_user) %></div>
        <div class="col-sm-3"><%= link_to 'Logout', logout_path(current_user.id), method: "delete" %></div>
      </div>
    </div>
  <% else %>
      <%= link_to "Login", new_session_path  %>
      <%= link_to "Create Account", new_user_path %>
  <% end %>

<div id= "flash-message-container">
  <% flash.each do |name, msg| %>
    <ul>
      <li><%= content_tag :div, msg, class: name %></li>
    <ul>
  <% end %>
</div>

<%= yield %>

</body>
</html>
