<!DOCTYPE html>
<html>
<head>
  <title>Unspoiled</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">
    <div class="col-centered"><a id = "unspoiled-logo" href = "/"><%= image_tag("2dyVZtK.png") %></a></div>
    <div class="col-centered tagline"><h4><%= link_to "Keep the stories you love unspoiled.", root_path %></h4></div>
          <div class="col-centered text-right">
    <% if logged_in? %>
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div id = "filter-status" class="btn-group" role="group">
          <%= render partial: '/users/filterstatus' %>
        </div>
        <div id = "my-filter" class="btn-group" role="group">
          <%= render partial: '/users/myfilter' %>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default"><%= link_to 'Logout', logout_path(current_user.id), method: "delete" %></button>
        </div>
      </div>
    <% else %>
    <div class="btn-group btn-group-justified">
      <div class="btn btn-primary"><%= link_to "Login", new_session_path  %></div>
      <div class="btn btn-primary" role="group"><%= link_to "Create Account", new_user_path %></div>
    </div>

    <% end %>


<%= yield %>
 <div class="push"></div>
</div>
</div>
<div class="footer">

  <div class="col-centered">Unspoiled is a DBC project by <a href="https://github.com/elizaway" target="_blank">Eliza Dunaway</a>, <a href="https://github.com/jhack32" target="_blank">Jack Huang</a>, <a href="https://github.com/bigless27" target="_blank">Ryan Lesson</a>, <a href="https://github.com/arcpetretta" target="_blank">Arcangelo Petretta</a>
  <div> Powered by <a href="https://www.themoviedb.org/" target="_blank">The Movie Database</a></div></div>

</div>
</body>
</html>

